<div class='h-100 w-100 bg-white mx-auto p-3'>
  <div class='h-100 w-100 d-flex flex-column align-items-center'>
    <div class='flex-fill w-100'>
      <%= render 'dashboard', collection: @users %>
    </div>
    <%= paginate @users %>
  </div>
</div>
