div class='d-flex w-100 flex-wrap' style='gap: 1rem'
  - @albums.each do |album|
    == render('users/item/album', model: album, model_image_url: album.photos.first&.image_url || "", modal_data_target: "#albumModalCenter#{album.id}")
    == render 'albums/album_modal', model: album
