<div class="locale__options__position">
  <div class='btn btn-secondary lang__btn position-relative'>
    lang.
   <div class="flex-column lang__dropdown top__right border border-dark flex-column d-none top__right w-100 fw-bold py-2" style='transform: translateY(-110%); gap: 0.5rem; display: flex'>
      <a class='text-dark text-decoration-none' href="?locale=en" data-locale="en">EN</a>
      <a class='text-dark text-decoration-none' href="?locale=fr" data-locale="fr">FR</a>
      <a class='text-dark text-decoration-none' href="?locale=ja" data-locale="ja">JA</a>
    </div>
  </div>
</div>

<script defer>
  (function() {
    document.querySelector('.lang__btn').addEventListener('click', () => {
      document.querySelector('.lang__dropdown').classList.toggle('d-none')
    });

    document.querySelectorAll('#localeDropdownMenu .dropdown-item').forEach(function(item) {
      item.addEventListener('click', function(event) {
        console.log('click');
        var locale = this.getAttribute('data-locale');
        window.location.href = `?locale=${locale}`;
      });
    });
  })();
</script>
