<div class="dropdown" style='position: fixed; left: 1rem; bottom: 1rem; z-index: 2'>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="localeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    lang.
  </button>
  <div class="dropdown-menu" aria-labelledby="localeDropdown" id="localeDropdownMenu">
    <a class="dropdown-item" href="?locale=en" data-locale="en">EN</a>
    <a class="dropdown-item" href="?locale=fr" data-locale="fr">FR</a>
    <a class="dropdown-item" href="?locale=ja" data-locale="ja">JA</a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('#localeDropdownMenu .dropdown-item').forEach(function(item) {
      item.addEventListener('click', function(event) {
        event.preventDefault();
        var locale = this.getAttribute('data-locale');
        window.location.href = `?locale=${locale}`;
      });
    });
  });
</script>
