<div class="dropdown" style='position: absolute; left: 1rem; bottom: 1rem'>
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    lang.
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class='dropdown-item' href="?locale=en">EN</a>
    <a class='dropdown-item' href="?locale=fr">FR</a>
    <a class='dropdown-item' href="?locale=ja">JA</a>
  </div>
</div>
