<% in_photos = controller_name.in?('photos') ? 'btn-primary' : 'btn-secondary' %>
<% in_albums = controller_name.in?('albums') ? 'btn-primary' : 'btn-secondary' %>
<div class='d-flex justify-content-center py-3'>
  <a class="btn <%= in_photos %> mx-2" href="/photos">Photo</a>
  <a class="btn <%= in_albums %> mx-2" href="/albums">Album</a>
</div>

