<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <strong>
        <a class="navbar-brand text text-primary" href="/">Fotobook</a>
    </strong>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search photos and albums" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="navbar mr-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/photos">Photos</a> -->
            <!-- </li> -->

            <!-- <% if user_signed_in? %> -->
            <!--     <li class="nav-item"> -->
            <!--         <a class="nav-link" href="/users/edit">Profile</a> -->
            <!--     </li> -->
            <!-- <% end %> -->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/home">Feeds</a> -->
            <!-- </li> -->
            <!---->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/u/photos">My Photos</a> -->
            <!-- </li> -->
            <!---->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/u/albums">My Albums</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item dropdown"> -->
            <!--     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!--         Dropdown -->
            <!--     </a> -->
            <!--     <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            <!--         <a class="dropdown-item" href="#">Action</a> -->
            <!--         <a class="dropdown-item" href="#">Another action</a> -->
            <!--         <div class="dropdown-divider"></div> -->
            <!--         <a class="dropdown-item" href="#">Something else here</a> -->
            <!--     </div> -->
            <!-- </li> -->
        </ul>
    </div>

    <% if user_signed_in? %>
    <div class='d-flex align-items-center'>
        <a  href="/users/edit" class="btn btn-primary mx-2">
            <strong>(you)</strong> <%= current_user.email %>
        </a>
        <!-- <a href="/users/sign_out" method: :delete >Profile</a> -->
        <a href="users/sign_out"
            data-turbo-method="delete"
            data-turbo-confirm="Signing out?"
            class="btn btn-secondary"
        >
            Sign out
        </a>
    </div>
    <% else %>
        <a href="/users/sign_in" class="btn btn-primary">Login</a>
    <% end %>
</nav>

<!-- <div class='d-flex justify-content-center g-2'> -->
<!--     <a class="btn btn-secondary mx-2" href="/photos">Photo</a> -->
<!--     <a class="btn btn-secondary mx-2" href="/albums">Album</a> -->
<!-- </div> -->

