<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <strong>
        <a class="navbar-brand text text-primary" href="/">Fotobook</a>
    </strong>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="<%= t('search_box_placeholder') %> " aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
          <%= t('search')  %>
        </button>
    </form>

    <% if user_signed_in? %>
    <div class='d-flex align-items-center ml-auto'>
        <a href="/users/edit" class="btn btn-primary mx-2">
          <%= current_user.email %>
        </a>

        <%= button_to "Log out", destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-dark' %>
    </div>

    <% else %>
        <a href="/users/sign_in" class="ml-auto btn btn-primary">Login</a>
    <% end %>
</nav>

<!-- <div class='d-flex justify-content-center g-2'> -->
<!--     <a class="btn btn-secondary mx-2" href="/photos">Photo</a> -->
<!--     <a class="btn btn-secondary mx-2" href="/albums">Album</a> -->
<!-- </div> -->

