<nav class="navbar navbar-expand-lg navbar-light sticky-top mb-3" style='background-color: #3269a8'>
    <strong>
        <a class="navbar-brand text text-white" href="/">Fotobook</a>
    </strong>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="<%= t('search_box_placeholder') %> " aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0 d-none" type="submit">
          <%= t('search')  %>
        </button>
    </form>

    <%= render('home/account_section') %>
</nav>

<!-- <div class='d-flex justify-content-center g-2'> -->
<!--     <a class="btn btn-secondary mx-2" href="/photos">Photo</a> -->
<!--     <a class="btn btn-secondary mx-2" href="/albums">Album</a> -->
<!-- </div> -->

