<nav id="sidebar" class="bg-light sidebar position-absolute top-0 start-0 bg-transparent text-dark">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#feeds">
                    Feeds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#my-photos">
                    My Photos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#my-albums">
                    My Albums
                </a>
            </li>
        </ul>
    </div>
</nav>
