<nav id="sidebar" class="bg-light sidebar position-absolute top-0 start-0 bg-transparent text-dark">
    <div class="position-sticky">
        <ul class="nav flex-column p-3">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <strong>
                      <%= t('feeds') %>
                    </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/u/photos">
                    <strong>
                      <%= t('my_photos') %>
                    </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/u/albums">
                    <strong>
                      <%= t('my_albums') %>
                    </strong>
                </a>
            </li>
        </ul>
    </div>
</nav>
