<div id="<%= dom_id album %>" class='custom-album-box-style p-2 mb-2'>
    <p>
        <strong>Title:</strong>
        <%= album.title %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= album.description %>
    </p>

    <p>
        <strong>by </strong>
        <%= album.user.email %>
    </p>
</div>
