<div class="card d-flex flex-row mb-2 flex-wrap">
    <div class="card-body border-0">
        <h3>
            <strong>
                <%= album.title %>
            </strong>
        </h3>

        <p>
            <%= album.description %>
        </p>

        <hr />

        <p class='text text-primary h4'>
          <strong><%= album.user.email %></strong>
        </p>

        <p class='text text primary p-0 m-0'>
          <small>
            <%= album.created_at %>
          </small>
        </p>
    </div>
</div>

