<div class='h-100 w-75 bg-white mx-auto p-3'>
  <div class='d-flex justify-content-between'>
    <p class='h4'>
      <strong>
        <%= t('.title') %>
      </strong>
    </p>

    <%= link_to t('back'), :back, class: 'btn btn-primary' %>
  </div>

  <hr />

  <%= render "form", album: @album %>
</div>
