<div class='h-100 w-75 bg-white mx-auto'>
    <div class='d-flex justify-content-center py-3'>
        <a class="btn btn-secondary mx-2" href="/photos">Photo</a>
        <a class="btn btn-primary mx-2" href="/albums">Album</a>
    </div>

    <div class='d-flex flex-column flex-wrap' >
        <!-- <p style="color: green"><%= notice %></p> -->
        <div id="albums" class='d-flex flex-wrap'>
            <% @albums.each do |album| %>
            <div class='mb-3 col-lg' style='max-width: 300px'>
                <%= render album %>
                <%= link_to "Show this album", album, class: 'btn btn-dark' %>
            </div>
            <% end %>
        </div>
    </div>

    <!-- <div class='absolute'> -->
    <!--     <%= link_to 'Add your new album', new_album_path, class: 'btn btn-dark'  %> -->
    <!-- </div> -->

</div>
