<div class='d-flex w-100 flex-wrap justify-content-center'>
  <% @albums.each do |album|  %>
    <%= link_to album, class: 'text-decoration-none text text-dark' do %>
      <%= render "/home/collection_item", model: album, :locals => {:model_image_url => album.photos.size > 0 && album.photos.first.image_url} %>
    <% end %>
  <% end %>
</div>

