<div class='h-100 w-75 bg-white mx-auto p-3'>
  <div class='w-100 d-flex justify-content-between'>
    <p class='h4'>
    <strong> My Albums </strong>
    </p>

    <a href='/albums/new' class='ms-auto btn btn-success text text-white'>
      <strong>
        Add New Album
      </strong>
    </a>
  </div>

  <hr />

  <div class='d-flex flex-column flex-wrap' >
    <div id="albums" class='d-flex flex-wrap justify-content-start'>
      <% @albums.each do |album| %>
        <div class='bg-light mx-2 p-2 shadow bg-light rounded' style="width:200px; height: 200px">
          <%= link_to album do %>
            <img
            class="border border-dark w-100 h-100"
            src="<%= album.photos.size > 0 && album.photos.first.image_url %>"
            />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- <div class='absolute'> -->
<!--     <%= link_to 'Add your new album', new_album_path, class: 'btn btn-dark'  %> -->
<!-- </div> -->

