<div
    type="button"
    class="border border-light position-relative shadow p-1 m-1 bg-light rounded"
    style="width: 200px; height: 200px;"
>
    <img
        class="border border-dark w-100 h-100"
        data-toggle="modal"
        data-target="#exampleModalCenter<%= photo.id %>"
        src="<%= photo.image_url %>"
    />

    <% if !photo.is_public %>
    <div
        class='border border-dark bg-light rounded-circle d-flex justify-content-center align-items-center text text-dark'
        style='width: 30px; height: 30px; position: absolute; bottom: 1rem; right: 1rem'
    >
        <i class="fa-solid fa-lock"></i>
    </div>
    <% end %>

    <%= render 'photos/photo_model', model: photo  %>
</div>

