<div class='h-100 w-75 bg-white mx-auto p-4'>
  <div class='d-flex justify-content-between'>
    <p class='h4'>
      <strong>
        <%= t('.title') %>
      </strong>
    </p>
    <%= link_to t('back'), '/u/photos', class: 'btn btn-primary' %>
  </div>

  <hr />

  <%= render "form", photo: @photo %>

</div>
