<div class='d-flex w-100 flex-wrap justify-content-center'>
  <% @photos.each do |photo|  %>
    <%= render "/home/collection_item", model: photo, :locals => {:model_image_url => photo.image_url} %>
    <%= render 'photos/photo_model', model: photo  %>
  <% end %>
</div>
