<div class='mh-100 w-100 bg-white mx-auto p-3'>
    <div class='w-100 d-flex justify-content-between'>
        <p class='h4'>
          <strong>
            <%= current_user.is_admin ? t('admin.manage_photos') : t('.title') %>
          </strong>
        </p>

        <a href='<%= new_photo_path %>' class='ms-auto btn btn-success text text-white'>
            <strong>
                <%= t('add_new_photo') %>
            </strong>
        </a>
    </div>

    <hr />

    <div class='d-flex flex-wrap justify-content-start'>
        <%= render @photos  %>
    </div>
</div>

