/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.c-pointer {
    cursor: pointer;
}

.fw-bold {
    font-weight: bold;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.layout__wrapper {
    width: 100%;
    height: 100vh;
}

.top__right {
    position: absolute;
    top: 0;
    right: 0;
}

.top__right__2 {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.top__right__3 {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

.delete__image__btn {
    position: absolute;
    right: 0;
    z-index: 10;
    font-size: 1.5rem;
    color: lightgray;
    background: transparent;
}

.user__avatar {
    width: 150px;
    height: 150px;
    color: lightgray;
    border: 3px dashed gray;
}

.user__avatar__sm {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.p__overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lock__icon {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.collection__item__size {
  width: 200px;
  height: 200px;
}

.collection__item__size__md {
  width: 250px;
  height: 250px;
}

.collection__item__size__sm {
    width: 40px;
    height: 40px;
}

.item__size__sm {
  width: 30px;
  height: 30px;
}

.alert__position {
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 3
}

.image__uploader__ff__transparent {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 1.5rem;
    color: lightgray;
    background: transparent;
}

.image__uploader__box {
  color: lightgray;
  border: 3px dashed gray;
}

.image__uploader__label__transparent {
    select: none;
    color: transparent;
    background: transparent;
    cursor: pointer;
    z-index: 2
}

.locale__options__position {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 2;
}

/* .field_with_errors { */
/*     display: inline-block; */
/* } */
